/out
.idea/workspace.xml
.idea/compiler.xml
/dist
.directory
/magritte/store/target
/magritte/magritte/target
/magritte/indexer/target
/ide/plugin/target
/ide/jps-plugin/target
/deploy/deployproject.xml
false_mirror_jar.xml
/language/grammar/target
/language/bytecode/target
/language/io/target
/ide/builder-constants/target
/language/builder/target
.idea/libraries
magritte/magritte/test_res/Empty.stash
*.zip
