out/
.idea/workspace.xml
.idea/compiler.xml
/dist
.directory
/ide/plugin/target
/deploy/deployproject.xml
target/
.idea/libraries
*.stash
*.zip
*.jar
*.csv
refactors/
*/test-gen/
.tara/
test-gen
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
test-playground